/build/
/out/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
*.ninja
*.ninja_deps
*.ninja_log
compile_commands.json

*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.obj

# VS Code cache
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# Clangd / other cache
.cache/
.clangd/
ipch/

# IDE other
.vs/
.idea/

# Env local
.env
